<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% assign items = site.data.navbar | where: "lang", page.lang %}
      {% for item in items %}
        <a class="nav-item nav-link" href="{{item.url}}">{{ item.name }}</a>
      {% endfor %}
        <span class="nav-item nav-link">|||</span>
      {% for language in site.languages %}
        {% unless page.lang == language %}
          {% assign this_language = site.data.languages | where: "lang", language %}
            <a class="nav-item nav-link" href="{{ this_language[0].url }}">{{ this_language[0].flag }}</a>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</nav>
